---
import "../styles/global.css";
import "@fontsource/figtree/500.css";
import "@fontsource/figtree/800.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Frontend Mentor | Blog Preview Card</title>
  </head>
  <body class="font-figtree h-screen w-full">
    <slot />
  </body>
</html>
