---
import "@fontsource/figtree/500.css";
import "@fontsource/figtree/800.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Frontend Mentor | Blog Preview Card</title>
	</head>
	<body class="font-figtree h-screen w-full">
		<slot />
	</body>
</html>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer components {
		.text-preset-1 {
			@apply text-[24px] font-extrabold leading-[150%] tracking-normal;
		}

		.text-preset-2 {
			@apply text-[16px] font-medium leading-[150%] tracking-normal;
		}

		.text-preset-3 {
			@apply text-[14px] font-medium leading-[150%] tracking-normal;
		}

		.text-preset-3-bold {
			@apply text-[14px] font-extrabold leading-[150%] tracking-normal;
		}
	}
</style>
